body {   
  background-image: url('images/globos.jpg');
  background-attachment: fixed;
  background-size: cover; 
  font-family: "Chewy";
  
}

.container{ 
  margin-top: 10px;
  display: flex;
  text-align: center; 
  
}
/* Botones */
.btn{  
  border:1px solid rgb(218, 218, 232);  
  box-shadow: 5px 10px 15px #151414;
  width: 80%;
  margin: 7px;
}
/* /*Barra de Navegacion*/
.navi{
  margin: auto;
  text-align: center;
  margin-top: 15px;
}
  
.row{
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 90%;  
}
.images{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header5 { 
  background-image: url(images/burbujass.gif);  
  text-align: center; 
  font-size: x-large;
}
.header6 {
  background-image: url(images/hbday.gif); 
  color: #ffffff;
  text-align: center;
  font-size: x-large;
  margin: 10px;
  
}
.parrafo{
    background-color: rgb(8, 1, 1);
    color: #ffffff;    
    text-align: center;    
}

img{
  box-shadow:-10px -10px 10px #c1d5dc;
  max-width: 100%;  
  border-radius: 12px;
  margin-bottom: 5px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color :#6b1a96;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #31bfef;
}

.aside {
  background-color: #33b5e5;
  
  color: #ffffff;
  
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  /* Footer */
  
.footer{
    margin: auto;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
i{
    color: #ffffff;
    font-size:50px ;    
    padding: 10px;
    align-content: center;    
}  
.iconos, .pie{
    text-align:center ;
}
.pie{
  color: #ffffff;
}
.button {
    width: 70%;
    background-color: #ffbb00; /* Green */
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    
    font-size: 20px;    
    cursor: pointer;    
  }  
  
  .boton1 {border-radius: 12px;}
  .boton2 {border-radius: 12px;}
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width:900px) {
    .footer{
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        justify-content: center;
        align-content: center;
    }
  }